*{
	padding: 0;
	margin: 0;
	font:tahoma, arial, 宋体;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	position: relative;
	height: 100%;
}
.page{
	width:100%;
	height: 100%;
	overflow: hidden;

}
.wrapper{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
/*****home开始*******/
#home{
	background:url(../images/background.png) no-repeat;
	background-size:100% 100%;
	overflow: hidden;
}



#rocket{
	width:235px;
	height:370px;
	margin:8px auto;
	display:block;
	animation: begin 1.3s linear 0.5s infinite;
	cursor: pointer;
}

#cloud{
	width: 500px;
	height: 450px;	
	background: url(../images/cloud.png) no-repeat;
	background-size:100% 95%;
	margin: 70px auto;
	overflow: hidden;
	position: relative;
	
}

@keyframes begin{
	0%{ margin-top:8px; }
	50%{  margin-top: 25px; }
	100%{  margin-top:8px; }
}
@keyframes move{
	0%{ margin-top:105px; }
	/*50%{ margin-top: -400px; }*/
	100%{ margin-top: -400px; }

}

.line{
	background: white;
	border-radius: 5px;
}
.line1{
	width:63px;
	height: 4px;
	position: absolute;
	left: 280px;
	top:128px;
}
.line2{
	width:58px;
	height: 2px;
	position: absolute;
	left: 260px;
	top:140px;
}
#click{
	position: absolute;
	top:0px;
	left:280px;
}

#nav{
	width: 100%;
	height:50px;
	/*background:red;*/
}
#nav ul{
	float: right;
}
#nav li{
	float: left;
	width: 100px;
	height: 50px;
	text-align: center;
	position: relative;
}
#nav a{
	width: 100px;
	height: 45px;
	line-height: 45px;
	font-size: 15px;
	font-weight: 700;
	color: white;
}

#nav ul > li a:before {
    position: absolute;
    top: 5px;
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    left: 50%;
    margin-left: -5px;
    background: white;
    opacity: 0;
 /* -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;*/
    transition: all .3s;
   /* -webkit-transform: scale(1) rotate(-30deg);
    -moz-transform: scale(1) rotate(-30deg);
    -ms-transform: scale(1) rotate(-30deg);
    -o-transform: scale(1) rotate(-30deg);*/
    transform: scale(1) rotate(-30deg);
}

#nav ul > li a:after {
    position: absolute;
    bottom: 5px;
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    right: 50%;
    margin-right: -5px;
    background: white;
    opacity: 0;
   /* -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;*/
    transition: all .3s;
   /* -webkit-transform: scale(1) rotate(-30deg);
    -moz-transform: scale(1) rotate(-30deg);
    -ms-transform: scale(1) rotate(-30deg);
    -o-transform: scale(1) rotate(-30deg);*/
    transform: scale(1) rotate(-30deg);
}

#nav ul > li a:hover:before,
#nav ul > li a.active:before,
#nav ul > li a:hover:after,
#nav ul > li a.active:after {
    opacity: 1;
    height: 2px;
   /* -webkit-transform: scale(0.5) rotate(-30deg);
    -moz-transform: scale(0.5) rotate(-30deg);
    -ms-transform: scale(0.5) rotate(-30deg);
    -o-transform: scale(0.5) rotate(-30deg);*/
    transform: scale(0.5) rotate(-30deg);
}
.fix{
	position: fixed;
	top: 2px;
	left: 0;
}
/*****home结束*******/



/*****about-me开始*****/
#about-me{
	width: 100%;
	height:100%;
	overflow: hidden;
	background: blue;
}
/*****about-me结束*****/





/*****learning开始*****/
#learning{
	background: #466594;
}
#learning .wrapper{
	/*background: blue;*/
	overflow: hidden;
}
#learning .title{
	width: 75%;
	height: 50px;
	/*background:red;*/
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	letter-spacing:5px;
	line-height: 50px;
}
#learning .title .left{
	float: left;
	width: 20%;
	height: 50px;
	/*background:black;*/
}
#learning .title .right{
	float: right;
	width: 20%;
	height: 50px;
	/*background: black;*/
}
.line3{
	float: right;
	margin-top: 20px;
}
.line4{
	margin-left: 66%;
	margin-top: 25px;
}
.line5{
	margin-top: 20px;
	margin-left: -5px;
}
.line6{
	margin-top: 3px;
	/*margin-left: -5px;*/
}
.line4,.line6{
	width:50px;
	height: 4px;
}
.line3,.line5{
	width: 40px;
	height: 2px;
	 opacity: 0.8;
}
#learning h1{	
	color: white;
	font-size: 33px;
}
.experience{
	width: 75%;
	height: 480px;
	margin: 30px auto;
	/*background: yellow;*/
	position: relative;
	overflow: hidden;
}
.experience .container{
	width: 100%;
	position: absolute;
	top: 50px;
}
.part{
	overflow: hidden;
}
.part .skill{
	width: 43%;
	height: 40px;
	float:left;
	/*overflow: hidden;*/
	/*background: pink;*/
	margin-top: 5px;
	color: white;
}
#learning .part h3{

float: right;

}
.part .skill p{
	
color: white;

}

.skill .c{
	float: right;
}
#learning .part .time{
	width: 43%;
	height: 40px;
	/*background: black;*/
	float: right;
	margin-top: 5px;
	overflow: hidden;
}
#learning .part .dot{
	width: 10px;
	height: 10px;
	background: pink;
	border-radius: 50%;
	float: left;
	margin-top:15px;
}
#learning .part .data{
	width: 70%;
	height: 40px;
	background: pink;
	border-radius: 20px;
	float: left;
	text-align: center;
	line-height: 40px;
	font-weight: bolder;
	color: #466594;
	margin-left: 30px;
}
#learning .experience .tu{
	width: 50px;
	height: 50px;
	margin-left: 50%;
}
#learning .experience img{
	width: 50px;
	height: 50px;
	margin-left: -25px;
}
.line7{
	height: 40px;
	width: 4px;
	margin: 5px auto;
}




.part2 .skill{
	width: 43%;
	height: 40px;
	float: right;
	/*overflow: hidden;*/
	margin-top: 5px;
	color: white;
}
.part2 h3{
	color: white;
}
#learning .part2 .time{
	width: 43%;
	height: 40px;
	float: left;
	margin-top: 5px;
	overflow: hidden;
}
#learning .part2 .dot{
	width: 10px;
	height: 10px;
	background: pink;
	border-radius: 50%;
	float: right;
	margin-top:15px;
}
#learning .part2 .data{
	width: 70%;
	height: 40px;
	background: pink;
	border-radius: 20px;
	float: left;
	text-align: center;
	line-height: 40px;
	font-weight: bolder;
	color: #466594;
	margin-left: 60px;
}










/*****learning结束*****/





/*****showcase开始*****/
#showcase{
	background: red;
}
/*****showcase结束*****/

/*****life开始*****/

#life{
	background: black;
}
/*****life结束*****/





/*****#contact开始******/
#contact{
	background:#604f71;
}

#send-container{
	width: 40%;
	height:400px;
	/*background: #000;*/
	text-align: center;
	float: right;
	margin-top: 200px;
}
#send-container input{
	border-radius: 10px;
	outline: none;
	border: none;
	color: black;

}
#send-container .text{
	width: 60%;
	height: 40px;
	text-indent: 10px;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
#send-container textarea {
	width: 60%;
	height: 100px;
	border-radius: 10px;
	text-indent: 10px;
	resize: none;
	outline: none;
	opacity: 0.3;
	filter: alpha(opacity=30);
	border: none;
	font-size: 20px;


}
#send-container .submit{
	width: 80px;
	height: 40px;
	background: #f397a4;
	color:white;
}
#comment{
	width: 50%;
	/*height: 400px;*/
	float: left;
	/*background: black;*/
	/*overflow: auto;*/
	margin-left: 20px;
	margin-top: 120px;
}
#number{
	width: 100%;
	height: 30px;
	background: pink;
	font-size: 20px;
	color:white;
	line-height: 30px;
}
#Searchresult{
	width:100%; 
	/*height:300px; */
	/*padding:20px;*/
}
.row{
	padding:10px 5px 0px 5px;
	width: 100%;
	/*height: 60px;*/
	position: relative;
}

#message{
	font-size: 18px;
	color: white;

}
#comment .content{
	overflow: hidden;
	padding: 10px;
}
#writter{
	color: white;
	position: absolute;
	bottom: 3px;
	right:10px; 
}
hr{
	border: 1px dashed white ;
}
/*****#contact结束******/
@media screen and (max-width: 1200px){
	#learning .title h1 {
		font-size: 25px;
	}


	}